hostname {{ inventory_hostname }}
!
enable password {{ ansible_ssh_pass }}
!
username {{ ansible_user }} password {{ ansible_ssh_pass }}
!
ip domain-name ansible.com
!
{% for dns in dns_servers %}
ip name-server {{ dns }}
{% endfor %}
!
line vty 0 4
 login local
 transport input ssh
!
line vty 5 15
 login local
 transport input ssh
!
{% for ntp in ntp_servers %}
ntp server {{ ntp }}
{% endfor %}
